html, body, container, fullScreen{
	height: 100%;
	width: 100%;
	background-color: #fefcff;
	margin: auto;
	display: block;
	float:left;
}

h1, h2, h3, h4, h5, h6 {
	text-align: center;
	vertical-align: middle;
}

.statsPanel {
	display: inline-block;
	padding: 0px;
	outline: none;
	vertical-align: middle;
}

.fullWide {
	width: 100%;
	text-align: center;
}

.gameBoard {
	display: inline-block;
	width: 40vw;
	height: 40vw;
	margin-left: 10vw;
	padding: 0px;
}

.statBoard {
	display: inline-block;
	width: 20vw;
	height: 40vw;
	margin-left: 10vw;
	padding: 0px;
}

.boardPiece {
	display: inline-block;
	border: 1px solid black;
	padding: 0px;
	margin:0px;
	outline:none;
	vertical-align: top;
}

.boardPiece:hover{
	border: 1px solid;
	border-color: #fcba03;
}

.canMove {
	border: 1px solid;
	border-color: #fcba03;
}

.hide {
	display:none;
}

.piece {
	border-radius: 50%;
	width: 60%;
	height: 60%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	border: 2px solid;

	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 900;
	font-family: monospace, sans-serif;
}

.piece:hover{
	border: 3px solid;
}